{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>{{ activity.name }}</title>
    <link rel="stylesheet" href=" {% static "assets/css/detail_pdf.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">

  </head>
  <body>

    <table class="header-table">
      <tr>
        <td class="logo-cell">
            <img src="{% static 'assets/images/logo_prova.png' %}" alt="UFERSA" class="logo"/>
        </td>
        <td class="info-cell">
          <div class="header-info">
            <h1>Universidade Federal Rural do Semi-Árido</h1>
            <h2>Centro Multidisciplinar de {{activity.owner.campus}}</h2>
            <h2>{{activity.owner.department}}</h2>
            <h2><strong>Disciplina:</strong> {{ activity.discipline.code }} - {{ activity.discipline.name }}</h2>
            <h2><strong>Docente:</strong> {{ activity.owner.name|title }}</h2>
          </div>
        </td>
      </tr>
    </table>

    <div class="exam-title">
        {{ activity.name|title }} - Unidade {{ activity.unit }}
    </div>

    <table class="student-info-table">
        <tr>
            <td style="width: 8%; font-weight: bold; white-space: nowrap;">Nome:</td>
            <td class="line-input" style="width: 62%;">&nbsp;</td> <td style="width: 10%; font-weight: bold; text-align: right; white-space: nowrap;">Matrícula:</td>
            <td class="line-input" style="width: 20%;">&nbsp;</td>
        </tr>
    </table>

    <div class="questions">
      <ol class="questions-list">
        {% for question in questions %}
          <li class="question-block">
            <div class="statement">
                {{ question.statement|safe }}
            </div>

            {% if question.type == 'O' %}
              <ol class="alternatives">
                {% for alternative in question.objectivequestion.alternatives.all %}
                  <li>{{ alternative.description }}</li>
                {% endfor %}
              </ol>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/tylerecouture/summernote-math@master/summernote-math.js"></script>

  </body>
</html>