asgiref==3.9.2
bleach==6.3.0
Brotli==1.1.0
cffi==2.0.0
click==8.3.1
cssselect2==0.8.0
deptry==0.24.0
Django==5.2.6
django-appconf==1.1.0
django-filter==25.2
django-htmx==1.26.0
django-summernote==0.8.20.0
django-tomselect==2025.9.1
django-weasyprint==2.4.0
fire==0.7.1
fonttools==4.60.1
lxml==6.0.2
numpy==2.2.6
opencv-python-headless==4.12.0.88
packaging==25.0
pandoc==2.4
pillow==12.0.0
plumbum==1.10.0
ply==3.11
psycopg2-binary==2.9.10
pycparser==2.23
pydyf==0.11.0
pypandoc==1.16.2
pypandoc_binary==1.16.2
pyphen==0.17.2
python-decouple==3.8
requirements-parser==0.13.0
sqlparse==0.5.3
termcolor==3.2.0
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.15.0
tzdata==2025.2
weasyprint==66.0
webencodings==0.5.1
zopfli==0.2.3.post1
