{% load static %}
{% load nav_tag %}
<nav class="navbar navbar-expand-lg navbar-dark shadow-sm main-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src=" {% static "assets/images/logo.png" %}" alt="Logo UFERSA" id="navbar-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% is_active_app 'user' %}" href="#"><i class="bi bi-house-door-fill me-1"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% is_active_app 'question' %}" aria-current="page" href="{% url 'question:list' %}"><i class="bi bi-question-circle me-1"></i> Questões</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% is_active_app 'activity' %}" href="{% url "activity:list" %}"><i class="bi bi-file-earmark-text me-1"></i> Atividades</a>
                </li>
                {% if  user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-people-fill me-1"></i> Docentes</a>
                    </li>
                {% endif %}
            </ul>

            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle me-1"></i> Prof. Fernando
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-person me-2"></i> Perfil
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-gear me-2"></i> Configurações
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-box-arrow-right me-2"></i> Sair
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>