{% load static %}

{% if question.type == 'O' %}
    {% url 'question:detail' type='objective' pk=question.id as detail_url %}
{% elif question.type == 'S' %}
    {% url 'question:detail' type='subjective' pk=question.id as detail_url %}
{% endif %}

<div class="list-group-item p-3 mb-2 border rounded question-card" 
     data-question-id="{{ question.id }}">
    
    <div class="d-flex justify-content-between align-items-center">
        
        <div class="me-3" style="flex-grow: 1; cursor: pointer;"
             hx-get="{{ detail_url }}"
             hx-target="#modalVisualizarQuestao .modal-content"
             data-bs-toggle="modal"
             data-bs-target="#modalVisualizarQuestao"> 
            
            <div class="d-flex justify-content-between align-items-start mb-2">
                
                <div>
                    {% if question.difficulty_level == 'E' %}
                        <span class="badge text-bg-success">{{question.get_difficulty_level_display}}</span>
                    {% elif question.difficulty_level == 'M' %}
                        <span class="badge text-bg-warning">{{question.get_difficulty_level_display}}</span>
                    {% elif question.difficulty_level == 'D' %}
                        <span class="badge text-bg-danger">{{question.get_difficulty_level_display}}</span>
                    {% endif %}

                    {% if question.type == 'O' %}
                        <span class="badge text-bg-info">{{question.get_type_display}}</span>
                    {% elif question.type == 'S' %}
                        <span class="badge text-bg-secondary">{{question.get_type_display}}</span>
                    {% endif %}
                </div>

                <div class="text-muted small ms-2">
                    <i class="bi bi-arrow-down-circle me-1"></i> {{ question.use_count }} usos
                </div>
            </div>

            <h6 class="d-block mb-1">{{ question.statement|striptags|truncatechars:70 }}</h6>

        </div>
        
        <i classs="bi bi-grip-vertical drag-handle" style="font-size: 1.2rem; cursor: grab;"></i>
    </div>
</div>