{% load question_template_utils %}

<div id="alternativas-container">
    {{alternatives.management_form}}
    {% for alternative in alternatives %}
        {% if question %}
            {{alternative.id}}
        
        {% endif %}
        <div class="input-group mb-2" id='teste'>
            <span class="input-group-text">{% decimal_to_letter forloop.counter %})</span>
            {{alternative.description}}
            <div class="input-group-text">
                {{alternative.is_correct}}
            </div>
            <div class="invalid-feedback">
                Você deve digitar a alternativa.
            </div>
            
        </div>
    {% endfor %}
</div>

