<div class="modal-header">
    <h5 class="modal-title text-center fw-bold" id="modalDeletarLabel">Deletar Questão</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
</div>
<div class="modal-body">
    <p>Deseja mesmo deletar a questão? <strong class="text-danger">Esta operação é irreversível!</strong></p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    
    <form hx-post="{% url 'question:delete' pk=question.id %}" 
          hx-trigger="submit"> 
        {% csrf_token %}
        <button type="submit" class="btn btn-success" hx-disabled-elt="this">
            Confirmar
        </button>
    </form>
</div>