<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{activity.name}} - Unidade {{activity.unit}} - {{activity.period}}
    {% for question_activity in questions_activity %}
        {{question_activity.question.statement}}
        {{question_activity.question.get_difficulty_level_display}}
        
        {% if question_activity.question.type == 'O' %}
            {% for alternative in question_activity.question.alternatives %}
                {{alternative.description}}
            {% endfor %}

        {% elif question_activity.question.type == 'S' %}
            {{question_activity.question.expected_answer}}
        {% endif %}
        

    {% endfor %}
</body>
</html>