{% extends "base.html" %}
    {% block title %}Atividades avaliativas{% endblock title %}
    {% block extra_head_infos %}{% endblock extra_head_infos %}
    {% block content %}
        <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="h2 fw-bold">Atividades avaliativas</h1>
                    <button class="btn btn-primary bi bi-plus-lg me-1" type="button" href="{}">Criar atividade</button>
        </div>

        {{filter.form.as_p}}
        {% for activity in activities %}
            <p>Nome: {{activity.name}}</p>
        {% empty %}
        Nenhuma atividade cadastrada ainda
        {% endfor %}

    {% endblock content %}