{% extends "base.html" %}
    {% block title %}Atividades avaliativas{% endblock title %}
    {% block extra_head_infos %}{% endblock extra_head_infos %}
    {% block content %}
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="h2 fw-bold">Atividades avaliativas</h1>
            <button class="btn btn-primary bi bi-plus-lg me-1" type="button" href="{}"> Criar atividade</button>
        </div>

        <div class="card border-0 shadow-sm mb-5">
            <div class="card-body bg-white rounded p-4">
                <h5 class="card-title mb-3">Filtrar atividades</h5>
                    {% include "activities/partials/filters.html" %}
            </div>
        </div>

        <div id="activity-list-wrapper">
            <div class="row">
                {% for activity in activities %}
                    {% include "activities/partials/activity.html" %}
                    <p>Nome: {{activity.name}}</p>
                {% empty %}
                Nenhuma atividade cadastrada ainda
                {% endfor %}
            </div>
        </div>

    {% endblock content %}