{% extends "base.html" %}
{% block title %}Editar atividade avaliativa{% endblock title %}

{% block content %}
    <h1 class="h2 mb-4 fw-bold">Editar atividade avaliativa</h1>

    <form class="needs-validation" novalidate method="post" id="activity-form" action="{% url "activity:update" pk=activity.id %}">
        {% csrf_token %}

        <input type="hidden" name="questions_ids" id="questions_ids_input">

        <div class="card border-0 shadow-sm mb-4">
            <div class="card-body p-4">
                <h5 class="fw-bold mb-3">Informações da atividade avaliativa</h5>
                <div class="row g-3">
                    <div class="col-md-3">
                        <label for="{{form.name.id_for_label}}" class="form-label fw-medium">Nome da atividade <span class="text-danger">*</span></label>
                        {{form.name}}
                        <div class="invalid-feedback">Você deve informar o nome da atividade avaliativa.</div>
                    </div>
                    <div class="col-md-3">
                        <label for="{{form.discipline.id_for_label}}" class="form-label fw-medium">Disciplina <span class="text-danger">*</span></label>
                        {{form.discipline}}
                        <div class="invalid-feedback">Você deve selecionar uma disciplina.</div>
                    </div>
                    <div class="col-md-3">
                        <label for="{{form.period.id_for_label}}" class="form-label fw-medium">Período <span class="text-danger">*</span></label>
                        {{form.period}}
                        <div class="invalid-feedback">Insira o período no formato correto. Ex: 2025.2</div>
                    </div>
                    <div class="col-md-3">
                        <label for="{{form.unit.id_for_label}}" class="form-label fw-medium">Unidade <span class="text-danger">*</span></label>
                        {{form.unit}}
                        <div class="invalid-feedback">Você deve selecionar uma unidade.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 shadow-sm mb-4">
            <div class="card-body p-4">
                <h5 class="fw-bold mb-3">Filtrar questões</h5>
                
                <div id="filter-questions-form" 
                      hx-get="{% url "activity:create" %}" 
                      hx-target="#available-questions-wrapper"
                      hx-swap="innerHTML"
                      hx-trigger="change, keyup changed delay:500ms from:input"
                      hx-include="this">
                    
                    <div class="row g-3">
                        <div class="col-md-3">
                            <label for="{{filter.form.discipline.id_for_label}}" class="form-label fw-medium">Disciplina</label>
                            {{filter.form.discipline}}
                        </div>
                        <div class="col-md-3">
                            <label for="{{filter.form.difficulty_level.id_for_label}}" class="form-label fw-medium">Dificuldade</label>
                            {{filter.form.difficulty_level}}
                        </div>
                        <div class="col-md-3">
                            <label for="{{filter.form.type.id_for_label}}" class="form-label fw-medium">Tipo de questão</label>
                            {{filter.form.type}}
                        </div>
                        <div class="col-md-3">
                            <label for="{{filter.form.statement.id_for_label}}" class="form-label fw-medium">Buscar</label>
                            {{filter.form.statement}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-4">

            <div class="col-lg-6">
                <div class="card shadow-sm h-100 d-flex flex-column">
                    <div class="card-header bg-white py-3">
                        <h6 class="mb-0 fw-bold">Questões Disponíveis</h6>
                    </div>
                    
                    <div id="available-questions-wrapper" class="card-body question-list-container p-3" style="min-height: 400px; max-height: 600px; overflow-y: auto;">
                        {% include "activities/partials/available_questions_list.html" with questions=questions %}
                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="card shadow-sm h-100">
                    <div class="card-header bg-white py-3">
                        <h6 class="mb-0 fw-bold">Questões Selecionadas</h6>
                    </div>
                    
                    <div id="selected-questions" class="card-body question-list-container list-group question-list-group p-3" style="min-height: 400px; max-height: 600px; overflow-y: auto;">
                        {% for question in actual_questions %}
                            {% include "activities/partials/question_card.html" with question=question %}
                        {% endfor %}
                        <div id="empty-selected-placeholder" class="text-center text-muted p-5 h-100 d-flex align-items-center justify-content-center">
                            <span>Arraste as questões para cá!</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-4">
            <a href="{% url "activity:list" %}" class="btn btn-secondary me-2">Cancelar</a>
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </div>
    </form>

    <div class="modal fade" id="modalVisualizarQuestao" tabindex="-1" aria-labelledby="modalVisualizarQuestaoLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>

    <script>
        function initAvailableList() {
            var availableList = document.getElementById("available-questions");
            if (!availableList) return;

            new Sortable(availableList, {
                group: "shared-questions",
                animation: 150,
                onEnd: function (evt) {
                    checkPlaceholders();
                },
            });
        }

        function initSelectedList() {
            var selectedList = document.getElementById("selected-questions");
            if (!selectedList) return;

            new Sortable(selectedList, {
                group: "shared-questions",
                animation: 150,
                
                onEnd: function (evt) {
                    updateHiddenInput();
                    checkPlaceholders();
                },
                onAdd: function (evt) {
                    updateHiddenInput();
                    checkPlaceholders();
                },
            });
        }

        function updateHiddenInput() {
            var selectedList = document.getElementById("selected-questions");
            var hiddenInput = document.getElementById("questions_ids_input");
            var questionCards = selectedList.querySelectorAll(".question-card");

            var ids = [];
            questionCards.forEach(function (card) {
                ids.push(card.dataset.questionId);
            });
            hiddenInput.value = ids.join(",");
        }

        function checkPlaceholders() {
            var selectedList = document.getElementById("selected-questions");
            var emptySelectedPlaceholder = document.getElementById(
                "empty-selected-placeholder"
            );

            if (selectedList && emptySelectedPlaceholder) {
                var selectedItems = selectedList.querySelectorAll(".question-card");

                if (selectedItems.length > 0) {
                    emptySelectedPlaceholder.classList.add("d-none");
                } else {
                    emptySelectedPlaceholder.classList.remove("d-none");
                    emptySelectedPlaceholder.classList.add("d-flex");
                }
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            initAvailableList();
            initSelectedList();
            checkPlaceholders();
            updateHiddenInput();
        });

        document.body.addEventListener("htmx:afterSwap", function (event) {
            if (event.detail.target.id === "available-questions-wrapper") {
                initAvailableList();
                checkPlaceholders();
            }
        });
    </script>
{% endblock scripts %}