{% extends "base.html" %}
    {% block extra_head_infos %}
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    {% endblock extra_head_infos %}
    
    {% block title %}Criar Questão {% if question_type == 'subjective' %}Subjetiva {% else %}Objetiva {% endif %} {% endblock title %}
    {% block content %}
        <h1 class="h2 mb-4 fw-bold">Criar questão {% if question_type == 'subjective' %}subjetiva {% else %}objetiva {% endif %} </h1>

        <form id="main-form" method='POST' hx-post="{% url "question:create" type=question_type%}" hx-indicator=".htmx-indicator"> {% csrf_token %}
            <div class="card border-0 shadow-sm">
                <div class="card-body p-4">
                    <div class="row g-4">

                        <div class="col-md-4">
                            <h5 class="mb-3 fw-bold">Informações da questão</h5>
                            <div class="mb-3">
                                <label for="{{form.discipline.id_for_label}}" class="form-label fw-semibold">{{form.discipline.label}} <span
                                        class="text-danger">*</span></label>
                                {{form.discipline}}
                            </div>

                            <div class="mb-3">
                                <label for="{{form.difficulty_level.id_for_label}}" class="form-label fw-semibold">{{form.difficulty_level.label}} <span
                                        class="text-danger">*</span></label>
                                {{form.difficulty_level}}
                            </div>

                            <div class="mb-3">
                                <label for="{{form.subject.id_for_label}}" class="form-label fw-semibold">{{form.subject.label}}</label>
                                {{form.subject}}
                            </div>

                            <div>
                                <label class="form-label fw-semibold">{{form.visibility.label}} <span
                                        class="text-danger">*</span></label>
                                
                                {% for radio in form.visibility %}
                                    <div class="form-check">
                                        {{radio.tag}}
                                        <label class="form-check-label" for="{{radio.id_for_label}}">
                                            {{radio.choice_label}}{% if radio.choice_label == 'Compartilhada' %}(outros docentes){% else %}(apenas eu){% endif %}
                                        </label>
                                    
                                    </div>
                                
                                
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="mb-3">
                                <label for="{{form.statement.id_for_label}}" class="form-label fw-semibold">{{form.statement.label}} <span
                                        class="text-danger">*</span></label>
                                {{form.statement}}
                            </div>
                            
                            {% if question_type == 'subjective' %}
                                <div class="mb-3">
                                    <label for="{{form.expected_answer.id_for_label}}" class="form-label fw-semibold">{{form.expected_answer.label}} <span
                                            class="text-danger">*</span></label>
                                    {{form.expected_answer}}
                                </div>

                                <div class="mb-3">
                                    <label for="{{form.key_answers.id_for_label}}" class="form-label fw-semibold">{{form.key_answers.label}}
                                        <span class="text-danger">*</span></label>
                                    {{form.key_answers}}
                                </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end mt-4">
                <a href="questoes.html" class="btn btn-secondary me-2">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    
    {% endblock content %}
