<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <form method='GET'> {% csrf_token %}
        {{filter.form.as_p}}
        <button type="submit">buscar</button>
    </form>
    {% for question in questions %}
        <p>
        tipo:{{question.get_type_display}}
        dificuldade:{{question.get_difficulty_level_display}}
        {% if question.type == 'O' %}
            <a href="{% url "question:update" type="objective" pk=question.id %}">link de edição</a>
        {% elif question.type == 'S' %}
            <a href="{% url "question:update" type="subjective" pk=question.id %}">link de edição</a>
        {% endif %}
        enunciado: {{question.statement}}
        professor que criou: {{question.owner}}
        data de criação: {{question.created_at|date:"d/m/Y"}}
        disciplina da questão: {{question.discipline}}
        quantidade de usos: {{question.use_count}}
        </p>
    {% endfor %}

    {% include "partials/pagination.html" %}


</body>
</html>