{% extends "base.html" %}
    {% block title %}Banco de questões{% endblock title %}
    {% block extra_head_infos %}{% endblock extra_head_infos %}
    {% block content %}

        <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="h2 fw-bold">Banco de questões</h1>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-plus-lg me-1"></i> Criar questão
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item text-center" href="{% url 'question:create' type="objective" %}">Objetiva</a></li>
                        <li><a class="dropdown-item text-center" href="{% url 'question:create' type="subjective" %}">Subjetiva</a></li>
                    </ul>
                </div>
        </div>
        <div class="card border-0 shadow-sm mb-5">
            <div class="card-body bg-white rounded p-4">
                <h5 class="card-title mb-3">Filtrar questões</h5>
                    {% include "partials/filters.html" %}
            </div>
        </div>

        <div id="question-list-wrapper">
            <div class="row">
                {% for question in questions %}
                    {% include "partials/question.html" %}
                {% endfor %}
            </div>
            {% include "partials/pagination.html" %}
        </div>

        <div class="modal fade" id="modalDeletar" tabindex="-1" aria-labelledby="modalDeletarLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content shadow-lg"></div>
            </div>
        </div>

        <div class="modal fade" id="modalVisualizarQuestao" tabindex="-1" aria-labelledby="modalVisualizarQuestaoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content shadow-lg"></div>
            </div>
        </div>

    {% endblock content %}