<form action="{% url "user:logout" %}" method="post"> {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title fw-bold">Sair da conta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
    </div>
    <div class="modal-body">
        <p>Você tem certeza que deseja sair?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Sair</button>
    </div>
</form>