# Secret Key configuration
SECRET_KEY = 'CHANGE_HERE'

# Debug Mode configuration
# Use True or false
DEBUG = True

ALLOWED_HOSTS = "127.0.0.1, locahost"

# Postgres database configuration
DB_ENGINE = 'django.db.backends.postgresql'
POSTGRES_DB = 'CHANGE_HERE'
POSTGRES_USER = 'CHANGE_HERE'
POSTGRES_PASSWORD = 'CHANGE_HERE'
POSTGRES_HOST = 'localhost'
POSTGRES_PORT = '5432'
