{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "partials/head_infos.html" %}

    {% block extra_head_infos %}{% endblock extra_head_infos %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="bg-light">
    {% include "partials/navbar.html" %}

    <main class="container py-5">
        {% include "partials/messages.html" %}
        {% block content %} {% endblock content %}
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'htmx.org/dist/htmx.min.js' %}"></script>
    
    <script src="{% static 'assets/js/script.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>