{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/head_infos.html" %}
    <title>Acesse o sistema</title>
</head>
<body class="bg-primary">

    <main>
        <form action="{% url "user:login" %}" method="post"> {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <label for="{{form.username.id_for_label}}">{{form.username.label}}</label>
            {{form.username}}
            
            <label for="{{form.password.id_for_label}}">{{form.password.label}}</label>
            {{form.password}}
            <button type="submit">enviar</button>
        </form>
    </main>

    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'htmx.org/dist/htmx.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>