{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/head_infos.html" %}
    <title>Acesse o sistema</title>
</head>
<body class="bg-primary">

    <div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
        <div class="col-11 col-sm-10 col-md-7 col-lg-5 col-xl-4">
            <div id="login-card" class="card shadow-sm rounded-3 border-0">
                <div class="card-body p-4 p-md-5">

                    <h3 class="text-center fw-bold mb-4">Acesse o sistema</h3>

                    <form hx-post="{% url 'user:login' %}"
                          hx-target="#login-card"
                          hx-select="#login-card"
                          hx-swap="outerHTML" novalidate> {% csrf_token %}

                        <input type="hidden" name="next" value="{{ next }}">

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <i class="bi bi-exclamation-triangle-fill me-2 fs-5"></i>
                            <div>
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        <div class="mb-3">
                            <label for="{{form.username.id_for_label}}" class="form-label fw-medium">{{form.username.label}}</label>
                            {{form.username}}

                            {% if form.username.errors %}
                                <div class="d-block text-danger small mt-1">
                                    <i class="bi bi-exclamation-circle-fill me-1"></i>
                                    {% for error in form.username.errors %}
                                     {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="mb-5">
                            <label for="{{form.password.id_for_label}}" class="form-label fw-medium">{{form.password.label}}</label>
                            <div class="input-group">
                                {{form.password}}
                                <button class="btn btn-outline-secondary toggle-password-btn" type="button">
                                        <i class="bi bi-eye-slash"></i>
                                </button>
                            </div>

                            {% if form.password.errors %}
                                <div class="d-block text-danger small mt-1">
                                    {% for error in form.password.errors %}
                                        <i class="bi bi-exclamation-circle-fill me-1"></i> {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div id="passwordHelpBlock" class="form-text">Sua senha deve ter entre 8 e 20 caracteres, conter letras maiúsculas e minúsculas, números e caracteres especiais.
                            </div>

                            <div class="text-end mt-2">
                                <a href="{% url 'user:password_reset' %}" class="text-decoration-none text-primary small">
                                    Esqueceu sua senha?
                                </a>
                            </div>
                        </div>

                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary fw-bold py-2">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'htmx.org/dist/htmx.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

    {% block scripts %}
    <script>
        document.body.addEventListener('click', function(event) {
            const toggleBtn = event.target.closest('.toggle-password-btn');
            
            if (toggleBtn) {
                const inputGroup = toggleBtn.closest('.input-group');
                const passwordInput = inputGroup.querySelector('input');
                const icon = toggleBtn.querySelector('i');

                if (passwordInput) {
                    const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                    passwordInput.setAttribute('type', type);
                    
                    icon.classList.toggle('bi-eye');
                    icon.classList.toggle('bi-eye-slash');
                }
            }
        });
    </script>
    {% endblock scripts %}

</body>
</html>