{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/head_infos.html" %}
    <title>Esqueceu senha</title>
</head>
<body class="bg-light">

    <div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
        <div class="col-11 col-sm-10 col-md-7 col-lg-5 col-xl-4">
            <div id="login-card" class="card shadow-sm rounded-3 border-0">
                <div class="card-body p-4 p-md-5">

                    <h3 class="text-center fw-bold mb-4">Esqueceu sua Senha?</h3>

                    <form action="{% url "user:password_reset" %}" method="post" novalidate> {% csrf_token %}

                        <input type="hidden" name="next" value="{{ next }}">

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <i class="bi bi-exclamation-triangle-fill me-2 fs-5"></i>
                            <div>
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        <div class="mb-5">
                            <label for="{{form.email.id_for_label}}" class="form-label fw-medium">{{form.email.label}}</label>
                            {{form.email}}

                            {% if form.email.errors %}
                                <div class="d-block text-danger small mt-1">
                                    <i class="bi bi-exclamation-circle-fill me-1"></i>
                                    {{ form.email.errors.0 }}
                                </div>
                            {% endif %}

                            <div class="form-text">Enviaremos as instruções por email para você definir uma nova senha.</div>
                        </div>

                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-success fw-bold py-2">Enviar Email</button>
                        </div>
                        <div class="text-center mt-3">
                            <a href="{% url 'user:login' %}" class="text-decoration-none text-muted small">
                                <i class="bi bi-arrow-left"></i> Voltar para o Login
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'htmx.org/dist/htmx.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

</body>
</html>